html {
      font-family: Arial,Helvetica,sans-serif; 
      /* min-height:auto; */
      /* width:100%; */
      position: relative;
      display:flex;
      text-align: center;
      background-color: #ffffff;
      margin:0 auto;
      padding:0;
     }

body {
    margin:0 auto;
    padding:0;
    display: inline-block;
    justify-content:center;
    /* top: 50%; */
    }

/* body {
    margin:auto;
    display:flex;
    justify-content:center;
    top: 50%;
    } */
/* #headerphoto{
    width:100px;
} */

a {
    color:#C08497;
    padding:2%;
    text-decoration: none;
    }

a:hover {
        color: #ffffff;
        background-color:#C08497;
        font-weight: bold;
        border-radius: 25px;
    }


.selected{
    font-weight:bold;
    background-color: #FFCAD4;
    border-radius:25px;
    }

div{
    /* padding: 10px; */
    border-radius: 25px;
    }

footer{
    position:fixed;
    bottom:0;
    /* width:90vw; */
    text-align:center;
    font-size:8px;
    background-color: transparent;
}

h1{
    color: #ffffff;
    text-align: center;
}

h2,h3{
    color:#C08497;
    text-align:center;
}

h2{
    text-decoration: underline #B0D0D3;
}

p{
    color: #F7AF9D;
    background-color: #ffffff;
    border-radius: 25px;
    text-align:center;
    padding-left:5%;
    padding-right:5%;
    padding-top:0%;
}

p.scrolltext{
    text-align:left;
}

div.aside{
    background-color:#B0D0D3;
}

div.bside{
    background-color: #FFCAD4;
}

input,textarea {
    /* border-radius: 5px; */
    border-style:none;
    border-radius:5px;
    width:200px;
}

textarea{
    height:200px;
    display:block;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

button{
    /* width:250px; */
    width:100%;
    height:2rem;
    border-radius: 5px;
    background-color:#B0D0D3;
    color:#ffffff;
    border-width:0;
    align-self: center;
}

label{
    padding:2%;
    color:#F7AF9D;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    font-weight: bold;
    /* display:flex; */
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    text-align: left;
    width: 80px;
}

div.form-item{
    display: flex;
    padding-bottom: 10px;
}

/* #contactformdiv{
    width: 100%;
    height: 100%;
} */

img.logo{
    max-width: 8%;
}


/* Mobile Sizing */
@media (max-width:500px){
    
    nav {
        justify-content: center;
        display:flex;
        width:90vw;
        min-width:250px;
    }

    div.aside{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }

    div.bside{
        border-top-left-radius:0px;
        border-top-right-radius:0px;
    }
    
    /* form info */
    button{
        width:300px;
    }

    label{
        color: #F7AF9D;
        background-color: #FFCAD4;
    }
    .scroll-box{
        max-height: 100px;
        overflow-y: scroll;
        background: #ffffff;
        text-align:justify;
    }
}

/* Typical Website Sizing */
@media (min-width:500px){

    div{
        display:flex;
        flex-direction: row;   
    }

    nav{
        justify-content: center;
        display:flex;
        flex-direction: column;
    }
    
    .selected{
        vertical-align: auto;
    }

    div.aside{
        display:inline-block;
        background-color:#B0D0D3;
        border-top-right-radius:0px;
        border-bottom-right-radius:0px;
        min-width: 25vw;
        min-height: 90vh;
        }
    
    div.bside{
        display:inline-block;
        background-color: #FFCAD4;
        border-top-left-radius:0px;
        border-bottom-left-radius:0px;
        width: 65vw;
        min-height:90vh;
    }

    /* scroll box */
    .scroll-box{
        max-height: 150px;
        overflow-y: scroll;
        background: #ffffff;
        }

}